div#OrderConfirmed {
  background-color: aliceblue;
  height: fit-content;
  width: fit-content;
  margin-left: 35vw;
  border-radius: 10px;
  align-items: first baseline;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

p#DirectToOrders {
  font-size: 26px;
  margin-left: 4px;
  text-align: center;
}
